@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  --cryptle-icon: url('../assets/logo.svg');
  --color-background: #8ebdce;
  --game-color-background: #ffffff;
  --empty-tile-color: #cbcdd1;

  /* Spacing variables */
  --vertical-spacing-0-5: 4px;
  --horizontal-spacing-0-5: 4px;
  --vertical-spacing-2: 16px;
  --horizontal-spacing-2: 16px;
  --vertical-spacing-1-5: 12px;
  --header-height: 40px;
  --header-toolbar-height: 50px;
  --header-padding-x: var(--horizontal-spacing-2);
  --game-max-width: 500px;
  --codeboard-height: 170px;

  /* Colours for pegs indicating correctness of guess */
  --red-peg-color: #ed2d2d;
  --white-peg-color: #ffffff;
  --empty-peg-color: #adadad;

  /* Button styles */
  --bg-btn-primary: #000000;
  --text-btn-primary: #ffffff;
  --sm-btn-border-color: #bdbdbd;
  --sm-btn-text-color: #626262;

  /* tile colours */
  --tile-pink-background: #ff6e89;
  --tile-pink-border: #af4559;
  --tile-blue-background: #00caed;
  --tile-blue-border: #087082;
  --tile-green-background: #27c57e;
  --tile-green-border: #068b4b;
  --tile-yellow-background: #ffd945;
  --tile-yellow-border: #cba924;
  --tile-orange-background: #ff914d;
  --tile-orange-border: #bb5e24;
  --tile-purple-background: #cb6ce6;
  --tile-purple-border: #854696;
}
